*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid black;
  background-color: rgba(red, 0, 0, 0,3);
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
  display: flex;
  background-color: rgb(49,97,224);
  /*da togliere*/
  height: 70px; 
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

header .menu ul{
  display: flex;
  list-style: none;
}

header .menu ul li{
  padding: 10px;
}

.container .first-container{
  background-color: rgb(49,97,224);
  text-align: center;
  height: 550px;
}

.first-container h1{
  padding: 10% 10%;
  text-align: center;
}

h2{
  font-size: 30px;
}

.second-container{
  display: flex;
  background-color: white;
  height: 730px;
}

.second-container .img{
  width: 840px;
  background-color: red
}

.second-container .text{
  background-color: rgba(0, 255, 0);
  text-align: center;
  max-width: calc(100% - 840px);
  padding: 10%;
}

.third-container{
  display: flex;
  background-color: gray;
  height: 730px;
}

.third-container .text{
  background-color: rgba(0, 255, 0);
  text-align: center;
  max-width: calc(100% - 840px);
  padding: 10%;
}

.third-container .img{
  width: 840px;
  background-color: red
}

main .fourth-section{
  background-color: white;
  text-align: center;
  padding: 30px;
}

main .fourth-section button{
  padding: 20px;
  background-color: rgb(142,161,225) ;
  color: white;
  border-radius: 10%;
}

footer section{
  display: flex;
  /* margin: 2% 10%; */
  background-color: rgb(35,39,42);
  /* margin: 10px;
  padding: 10px; */
  justify-content: space-between;
  align-items: center;
}

footer .logo{
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  width: 20%;
}

footer .logo .indirizzo{
  font-size: 0.8rem;
}

footer .menu{
  padding-right: 10px;
  width: 20%;
}

footer .logo h3{
  color: rgb(114,137,218);
  font-size: 30px;
}

footer .menu ul{
  list-style: none;
}

footer .menu h3{
  color: rgb(114,137,218);
  
}

footer .menu a{
  color: white;
  text-decoration: none;
  font-size: 15px;
}

footer .menu a:hover{
  text-decoration: underline;
  color: red;
}

hr

